In [11]:
import pandas as pd

# Load the CSV files
betting_odds_data = pd.read_csv('mlb_props.csv')
prizepicks_data = pd.read_csv('test2.csv')

# Display the data to understand its structure
betting_odds_data[betting_odds_data['PlayerName'] == 'Ozzie Albies']

       PlayerName team  opp   Prop Over_Under draftkings     fanduel     mgm
754  Ozzie Albies  ATL  WSH  bases       Over     (1.5)          NaN  (1.5)
755  Ozzie Albies  ATL  WSH  bases      Under     (1.5)          NaN  (1.5)
756  Ozzie Albies  ATL  WSH   runs       Over     (0.5)    (0.5) 150  (0.5)
757  Ozzie Albies  ATL  WSH   runs      Under     (0.5)   (0.5) -190  (0.5)

In [5]:
prizepicks_data['Prop'].unique()

array(['Pitcher Strikeouts', 'Total Bases', 'Runs'], dtype=object)

In [6]:
prizepicks_data = prizepicks_data[(prizepicks_data['Prop'] == 'Total Bases') | 
                                  (prizepicks_data['Prop'] == 'Pitcher Strikeouts') | 
                                  (prizepicks_data['Prop'] == 'Runs')]

In [7]:
prizepicks_data

     Unnamed: 0               Name      Team  Value                Prop
0             0   Triston McKenzie   CLE - P    5.0  Pitcher Strikeouts
1             1          Joey Bart   PIT - C    0.5         Total Bases
3             3       Tarik Skubal   DET - P    7.5  Pitcher Strikeouts
4             4      Kevin Gausman   TOR - P    6.0  Pitcher Strikeouts
8             8  Grayson Rodriguez   BAL - P    6.5  Pitcher Strikeouts
..          ...                ...       ...    ...                 ...
274         274        Cal Raleigh   SEA - C    0.5                Runs
275         275     Yordan Alvarez  HOU - OF    0.5                Runs
276         276        Dylan Moore  SEA - IF    0.5                Runs
277         277        Kyle Tucker  HOU - OF    0.5                Runs
278         278  Jazz Chisholm Jr.  MIA - OF    0.5                Runs

[95 rows x 5 columns]

In [10]:
prop_types= {
    'Pitcher Strikeouts': 'Strikeouts',
    'Runs': 'Runs',
    'Total Bases': 'Total Bases'# example of making an indirect relationship
    # Add other mappings as required
}
prizepicks_data['Prop'] = prizepicks_data['Prop'].map(prop_types)

In [11]:
prizepicks_data

     Unnamed: 0                Name      Team  Value         Prop
1             1      Jarred Kelenic  ATL - OF    0.5  Total Bases
4             4         Blake Snell    SF - P    6.0   Strikeouts
5             5         Kris Bryant  COL - IF    0.5         Runs
8             8       Justin Steele   CHC - P    6.0   Strikeouts
11           11       Justin Steele   CHC - P    6.0   Strikeouts
12           12       Robert Gasser   MIL - P    4.0   Strikeouts
13           13      Charlie Morton   ATL - P    6.0   Strikeouts
14           14     Mitchell Parker   WSH - P    4.0   Strikeouts
15           15       Xzavion Curry   CLE - P    3.0   Strikeouts
16           16          Lance Lynn   STL - P    5.0   Strikeouts
17           17         Blake Snell    SF - P    6.0   Strikeouts
18           18      Taijuan Walker   PHI - P    4.0   Strikeouts
19           19       Trevor Rogers   MIA - P    4.0   Strikeouts
20           20        Michael King    SD - P    6.0   Strikeouts
21           21      Framber Valdez   HOU - P    6.0   Strikeouts
22           22        Miguel Amaya   CHC - C    0.5  Total Bases
23           23        Austin Riley  ATL - IF    1.5  Total Bases
24           24      Jarred Kelenic  ATL - OF    0.5  Total Bases
25           25       Marcell Ozuna  ATL - DH    1.5  Total Bases
26           26        Ozzie Albies  ATL - IF    1.5  Total Bases
27           27     Brendan Rodgers  COL - IF    1.5  Total Bases
28           28    Charlie Blackmon  COL - OF    1.5  Total Bases
29           29           David Fry  CLE - IF    1.5  Total Bases
30           30          Elias Díaz   COL - C    1.5  Total Bases
31           31      Kyle Schwarber  PHI - DH    0.5  Total Bases
32           32         Nick Fortes   MIA - C    0.5  Total Bases
33           33      Chas McCormick  HOU - OF    0.5  Total Bases
34           34       Jonatan Clase  SEA - OF    0.5  Total Bases
35           35      Yordan Alvarez  HOU - OF    1.5  Total Bases
36           36          Josh Rojas  SEA - IF    0.5  Total Bases
120         120        Ozzie Albies  ATL - IF    0.5         Runs
121         121          Matt Olson  ATL - IF    0.5         Runs
122         122         Sean Murphy   ATL - C    0.5         Runs
123         123    Charlie Blackmon  COL - OF    0.5         Runs
124         124      Ezequiel Tovar  COL - IF    0.5         Runs
125         125         Kris Bryant  COL - IF    0.5         Runs
126         126        Ryan McMahon  COL - IF    0.5         Runs
127         127     Jacob Hurtubise  CIN - OF    0.5         Runs
128         128       Spencer Steer  CIN - OF    0.5         Runs
129         129  Fernando Tatis Jr.   SD - OF    0.5         Runs
130         130      Yordan Alvarez  HOU - OF    0.5         Runs
131         131         Dylan Moore  SEA - IF    0.5         Runs
132         132         Kyle Tucker  HOU - OF    0.5         Runs
133         133        Nico Hoerner  CHC - IF    0.5         Runs

In [12]:
prop_types= {
    'strikeouts': 'Strikeouts',
    'runs': 'Runs', 
    'bases': 'Total Bases'# example of making an indirect relationship
    # Add other mappings as required
}
betting_odds_data['Prop'] = betting_odds_data['Prop'].map(prop_types)

In [13]:
betting_odds_data['Prop'].unique()

array(['Total Bases', 'Runs', 'Strikeouts'], dtype=object)

In [14]:
betting_odds_data

,PlayerName,team,opp,Prop,Over_Under,draftkings,fanduel,mgm
0,Adam Duvall,ATL,WSH,Total Bases,Over,(1.5) 100,NaN,(1.5) 100
1,Adam Duvall,ATL,WSH,Total Bases,Under,(1.5) -135,NaN,(1.5) -135
2,Adam Duvall,ATL,WSH,Runs,Over,(0.5) 105,NaN,(0.5) 105
3,Adam Duvall,ATL,WSH,Runs,Under,(0.5) -140,NaN,(0.5) -140
4,Adam Frazier,KC,@MIN,Total Bases,Over,(0.5) -155,NaN,(0.5) -155
...,...,...,...,...,...,...,...,...
927,Yainer Diaz,HOU,@SEA,Runs,Under,(0.5) -230,NaN,(0.5) -225
928,Yordan Alvarez,HOU,@SEA,Total Bases,Over,(1.5) -105,NaN,(1.5) -105
929,Yordan Alvarez,HOU,@SEA,Total Bases,Under,(1.5) -125,NaN,(1.5) -120
930,Yordan Alvarez,HOU,@SEA,Runs,Over,(0.5) -105,NaN,(0.5) -105
931,Yordan Alvarez,HOU,@SEA,Runs,Under,(0.5) -125,NaN,(0.5) -120

In [24]:
prizepicks_data['Prop'].unique()

array(['Total Bases', 'Strikeouts', 'Earned Runs Allowed'], dtype=object)

In [15]:
# Merging the datasets on player names and props
merged_data = pd.merge(betting_odds_data, prizepicks_data, left_on=['PlayerName', 'Prop'], right_on=['Name', 'Prop'], how='left')

# import ace_tools as tools; tools.display_dataframe_to_user(name="Merged Betting Data", dataframe=merged_data)

# Display the first few rows of the merged data
merged_data

,PlayerName,team,opp,Prop,Over_Under,draftkings,fanduel,mgm,Unnamed: 0,Name,Team,Value
0,Adam Duvall,ATL,WSH,Total Bases,Over,(1.5) 100,NaN,(1.5) 100,NaN,NaN,NaN,NaN
1,Adam Duvall,ATL,WSH,Total Bases,Under,(1.5) -135,NaN,(1.5) -135,NaN,NaN,NaN,NaN
2,Adam Duvall,ATL,WSH,Runs,Over,(0.5) 105,NaN,(0.5) 105,NaN,NaN,NaN,NaN
3,Adam Duvall,ATL,WSH,Runs,Under,(0.5) -140,NaN,(0.5) -140,NaN,NaN,NaN,NaN
4,Adam Frazier,KC,@MIN,Total Bases,Over,(0.5) -155,NaN,(0.5) -155,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
935,Yainer Diaz,HOU,@SEA,Runs,Under,(0.5) -230,NaN,(0.5) -225,NaN,NaN,NaN,NaN
936,Yordan Alvarez,HOU,@SEA,Total Bases,Over,(1.5) -105,NaN,(1.5) -105,35.0,Yordan Alvarez,HOU - OF,1.5
937,Yordan Alvarez,HOU,@SEA,Total Bases,Under,(1.5) -125,NaN,(1.5) -120,35.0,Yordan Alvarez,HOU - OF,1.5
938,Yordan Alvarez,HOU,@SEA,Runs,Over,(0.5) -105,NaN,(0.5) -105,130.0,Yordan Alvarez,HOU - OF,0.5
939,Yordan Alvarez,HOU,@SEA,Runs,Under,(0.5) -125,NaN,(0.5) -120,130.0,Yordan Alvarez,HOU - OF,0.5

In [28]:
r = merged_data.drop(['Team', 'Name', 'Unnamed: 0'], axis =1)

In [31]:
r[r['Prop'] =='Earned Runs Allowed']

,PlayerName,team,opp,Prop,Over_Under,draftkings,fanduel,mgm,Value
2,Adam Duvall,ATL,WSH,Earned Runs Allowed,Over,(0.5) 105,NaN,(0.5) 105,NaN
3,Adam Duvall,ATL,WSH,Earned Runs Allowed,Under,(0.5) -140,NaN,(0.5) -140,NaN
6,Adam Frazier,KC,@MIN,Earned Runs Allowed,Over,(0.5) 215,NaN,(0.5) 210,NaN
7,Adam Frazier,KC,@MIN,Earned Runs Allowed,Under,(0.5) -300,NaN,(0.5) -275,NaN
10,Adley Rutschman,BAL,BOS,Earned Runs Allowed,Over,(0.5),(0.5) 220,(0.5),NaN
...,...,...,...,...,...,...,...,...,...
927,Wilyer Abreu,BOS,@BAL,Earned Runs Allowed,Under,(0.5),NaN,(0.5),NaN
932,Yainer Diaz,HOU,@SEA,Earned Runs Allowed,Over,(0.5) 165,NaN,(0.5) 165,NaN
933,Yainer Diaz,HOU,@SEA,Earned Runs Allowed,Under,(0.5) -230,NaN,(0.5) -225,NaN
936,Yordan Alvarez,HOU,@SEA,Earned Runs Allowed,Over,(0.5) -105,NaN,(0.5) -105,NaN
937,Yordan Alvarez,HOU,@SEA,Earned Runs Allowed,Under,(0.5) -125,NaN,(0.5) -120,NaN

In [12]:
r =r.dropna(subset=['Value'])

In [17]:
r = r.where(pd.notnull(r), "None")

In [14]:
r.isnull().sum()

PlayerName    0
team          0
opp           0
Prop          0
Over_Under    0
draftkings    0
fanduel       0
mgm           0
Value         0
dtype: int64

In [19]:
r.to_csv('merged_data.csv')

In [15]:
df = pd.read_csv('merged_data.csv')

In [16]:
df

,Unnamed: 0,PlayerName,team,opp,Prop,Over_Under,draftkings,fanduel,mgm,Value
0,56,Austin Riley,ATL,WSH,Total Bases,Over,(1.5) -115,NaN,(1.5) -115,1.5
1,57,Austin Riley,ATL,WSH,Total Bases,Under,(1.5) -115,NaN,(1.5) -110,1.5
2,64,Blake Snell,SF,PHI,Strikeouts,Over,(6.5) 125,(6.5) 108,(6.5) 120,6.0
3,65,Blake Snell,SF,PHI,Strikeouts,Over,(6.5) 125,(6.5) 108,(6.5) 120,6.0
4,66,Blake Snell,SF,PHI,Strikeouts,Under,(6.5) -155,(6.5) -138,(6.5) -155,6.0
5,67,Blake Snell,SF,PHI,Strikeouts,Under,(6.5) -155,(6.5) -138,(6.5) -155,6.0
6,92,Brendan Rodgers,COL,CLE,Total Bases,Over,(1.5) -120,NaN,(1.5) -115,1.5
7,93,Brendan Rodgers,COL,CLE,Total Bases,Under,(1.5) -110,NaN,(1.5) -110,1.5
8,162,Charlie Blackmon,COL,CLE,Total Bases,Over,(1.5) -110,NaN,(1.5) -120,1.5
9,163,Charlie Blackmon,COL,CLE,Total Bases,Under,(1.5) -120,NaN,(1.5) -110,1.5
10,166,Charlie Morton,ATL,WSH,Strikeouts,Over,(5.5) -160,(5.5) -154,(5.5) -155,6.0
11,167,Charlie Morton,ATL,WSH,Strikeouts,Under,(5.5) 125,(5.5) 120,(5.5) 115,6.0
12,168,Chas McCormick,HOU,@SEA,Total Bases,Over,(0.5) -125,NaN,(0.5) -125,0.5
13,169,Chas McCormick,HOU,@SEA,Total Bases,Under,(0.5) -105,NaN,(0.5) -105,0.5
14,230,David Fry,CLE,@COL,Total Bases,Over,(1.5) -125,NaN,(1.5) -125,1.5
15,231,David Fry,CLE,@COL,Total Bases,Under,(1.5) -105,NaN,(1.5) -105,1.5
16,294,Framber Valdez,HOU,@SEA,Strikeouts,Over,(5.5) -135,(5.5) -160,(5.5) -135,6.0
17,295,Framber Valdez,HOU,@SEA,Strikeouts,Under,(5.5) 110,(5.5) 124,(5.5) 105,6.0
18,414,Jarred Kelenic,ATL,WSH,Total Bases,Over,(0.5) -125,NaN,(0.5) -125,0.5
19,415,Jarred Kelenic,ATL,WSH,Total Bases,Over,(0.5) -125,NaN,(0.5) -125,0.5
20,416,Jarred Kelenic,ATL,WSH,Total Bases,Under,(0.5) -105,NaN,(0.5) -105,0.5
21,417,Jarred Kelenic,ATL,WSH,Total Bases,Under,(0.5) -105,NaN,(0.5) -105,0.5
22,474,Jonatan Clase,SEA,HOU,Total Bases,Over,(0.5) -130,NaN,(0.5) -120,0.5
23,475,Jonatan Clase,SEA,HOU,Total Bases,Under,(0.5) -105,NaN,(0.5) -105,0.5
24,514,Josh Rojas,SEA,HOU,Total Bases,Over,(0.5) -115,NaN,(0.5) -115,0.5
25,515,Josh Rojas,SEA,HOU,Total Bases,Under,(0.5) -115,NaN,(0.5) -115,0.5
26,526,Justin Steele,CHC,@MIL,Strikeouts,Over,(5.5) -160,(5.5) -142,(5.5) -160,6.0
27,527,Justin Steele,CHC,@MIL,Strikeouts,Over,(5.5) -160,(5.5) -142,(5.5) -160,6.0
28,528,Justin Steele,CHC,@MIL,Strikeouts,Under,(5.5) 125,(5.5) 112,(5.5) 120,6.0
29,529,Justin Steele,CHC,@MIL,Strikeouts,Under,(5.5) 125,(5.5) 112,(5.5) 120,6.0
30,558,Kyle Schwarber,PHI,@SF,Total Bases,Over,(0.5) -130,NaN,(0.5) -125,0.5
31,559,Kyle Schwarber,PHI,@SF,Total Bases,Under,(0.5) -105,NaN,(0.5) -105,0.5
32,574,Lance Lynn,STL,@CIN,Strikeouts,Over,(5.5) 110,(5.5) 124,(5.5) 105,5.0
33,575,Lance Lynn,STL,@CIN,Strikeouts,Under,(5.5) -140,(5.5) -158,(5.5) -140,5.0
34,612,Marcell Ozuna,ATL,WSH,Total Bases,Over,(1.5) -125,NaN,(1.5) -120,1.5
35,613,Marcell Ozuna,ATL,WSH,Total Bases,Under,(1.5) -105,NaN,(1.5) -105,1.5
36,648,Michael King,SD,MIA,Strikeouts,Over,(5.5) -140,(5.5) -142,(5.5) -145,6.0
37,649,Michael King,SD,MIA,Strikeouts,Under,(5.5) 110,(5.5) 112,(5.5) 110,6.0
38,650,Miguel Amaya,CHC,@MIL,Total Bases,Over,(0.5) -125,NaN,(0.5) -125,0.5
39,651,Miguel Amaya,CHC,@MIL,Total Bases,Under,(0.5) -105,NaN,(0.5) -105,0.5
40,682,Mitchell Parker,WSH,@ATL,Strikeouts,Over,(4.5) 120,(4.5) 120,(4.5) 120,4.0
41,683,Mitchell Parker,WSH,@ATL,Strikeouts,Under,(4.5) -150,(4.5) -154,(4.5) -155,4.0
42,696,Nick Fortes,MIA,@SD,Total Bases,Over,(0.5) -110,NaN,(0.5) -110,0.5
43,697,Nick Fortes,MIA,@SD,Total Bases,Under,(0.5) -120,NaN,(0.5) -120,0.5
44,752,Ozzie Albies,ATL,WSH,Total Bases,Over,(1.5) -120,NaN,(1.5) -120,1.5
45,753,Ozzie Albies,ATL,WSH,Total Bases,Under,(1.5) -110,NaN,(1.5) -110,1.5
46,788,Robert Gasser,MIL,CHC,Strikeouts,Over,(3.5) -150,(3.5) -142,(3.5) -165,4.0
47,789,Robert Gasser,MIL,CHC,Strikeouts,Under,(3.5) 115,(3.5) 112,(3.5) 125,4.0
48,838,Taijuan Walker,PHI,@SF,Strikeouts,Over,(3.5) -145,(3.5) -156,(3.5) -145,4.0
49,839,Taijuan Walker,PHI,@SF,Strikeouts,Under,(3.5) 115,(3.5) 122,(3.5) 110,4.0
50,860,Trevor Rogers,MIA,@SD,Strikeouts,Over,(3.5) -160,(3.5) -164,(3.5) -160,4.0
51,861,Trevor Rogers,MIA,@SD,Strikeouts,Under,(3.5) 125,(3.5) 128,(3.5) 125,4.0
52,928,Xzavion Curry,CLE,@COL,Strikeouts,Over,(2.5) -170,(2.5) -146,(2.5) -160,3.0
53,929,Xzavion Curry,CLE,@COL,Strikeouts,Under,(2.5) 130,(2.5) 114,(2.5) 125,3.0
54,934,Yordan Alvarez,HOU,@SEA,Total Bases,Over,(1.5) -105,NaN,(1.5) -105,1.5
55,935,Yordan Alvarez,HOU,@SEA,Total Bases,Under,(1.5) -125,NaN,(1.5) -120,1.5