In [18]:
import pandas as pd

# Load the CSV files
betting_odds_data = pd.read_csv('mlb_props.csv')
prizepicks_data = pd.read_csv('test2.csv')

# Display the data to understand its structure
betting_odds_data[betting_odds_data['PlayerName'] == 'Tarik Skubal']

,PlayerName,team,opp,Prop,Over_Under,betrivers,draftkings,fanduel,mgm
964,Tarik Skubal,DET,PIT,strikeouts,Over,(8.5) 138,(7.5) -120,(7.5) -136,(7.5) -135
965,Tarik Skubal,DET,PIT,strikeouts,Under,(8.5) 104,(7.5) -105,(7.5) 106,(7.5) 105

In [2]:
prizepicks_data['Prop'].unique()

array(['Hitter Fantasy Score', 'Pitcher Strikeouts', 'Total Bases',
       '1st Inning Runs Allowed', 'Pitcher Fantasy Score',
       'Pitcher Strikeouts (Combo)', 'Hits Allowed', 'Walks Allowed',
       'Hits+Runs+RBIs', 'Singles', 'Pitching Outs', 'Walks', 'Hits',
       'Earned Runs Allowed', 'RBIs', 'Runs', 'Hitter Strikeouts'],
      dtype=object)

In [3]:
prizepicks_data = prizepicks_data[(prizepicks_data['Prop'] == 'Total Bases') | 
                                  (prizepicks_data['Prop'] == 'Pitcher Strikeouts') | 
                                  (prizepicks_data['Prop'] == 'Runs')]

In [4]:
prizepicks_data

     Unnamed: 0             Name      Team  Value                Prop
2             2    Shota Imanaga   CHC - P    6.5  Pitcher Strikeouts
4             4      Ryne Nelson    AZ - P    4.0  Pitcher Strikeouts
5             5  Kutter Crawford   BOS - P    5.0  Pitcher Strikeouts
8             8     Kevin Pillar  LAA - OF    0.5         Total Bases
9             9         Luis Gil   NYY - P    7.0  Pitcher Strikeouts
..          ...              ...       ...    ...                 ...
284         284   Daulton Varsho  TOR - OF    0.5                Runs
285         285   Ezequiel Tovar  COL - IF    0.5                Runs
286         286      Kyle Tucker  HOU - OF    0.5                Runs
287         287    Brenton Doyle  COL - OF    0.5                Runs
288         288     Ryan McMahon  COL - IF    0.5                Runs

[100 rows x 5 columns]

In [5]:
prop_types= {
    'Pitcher Strikeouts': 'Strikeouts',
    'Runs': 'Runs',
    'Total Bases': 'Total Bases'# example of making an indirect relationship
    # Add other mappings as required
}
prizepicks_data['Prop'] = prizepicks_data['Prop'].map(prop_types)

In [6]:
prizepicks_data

     Unnamed: 0             Name      Team  Value         Prop
2             2    Shota Imanaga   CHC - P    6.5   Strikeouts
4             4      Ryne Nelson    AZ - P    4.0   Strikeouts
5             5  Kutter Crawford   BOS - P    5.0   Strikeouts
8             8     Kevin Pillar  LAA - OF    0.5  Total Bases
9             9         Luis Gil   NYY - P    7.0   Strikeouts
..          ...              ...       ...    ...          ...
284         284   Daulton Varsho  TOR - OF    0.5         Runs
285         285   Ezequiel Tovar  COL - IF    0.5         Runs
286         286      Kyle Tucker  HOU - OF    0.5         Runs
287         287    Brenton Doyle  COL - OF    0.5         Runs
288         288     Ryan McMahon  COL - IF    0.5         Runs

[100 rows x 5 columns]

In [7]:
prop_types= {
    'strikeouts': 'Strikeouts',
    'runs': 'Runs', 
    'bases': 'Total Bases'# example of making an indirect relationship
    # Add other mappings as required
}
betting_odds_data['Prop'] = betting_odds_data['Prop'].map(prop_types)

In [8]:
betting_odds_data['Prop'].unique()

array(['Total Bases', 'Runs', 'Strikeouts'], dtype=object)

In [9]:
betting_odds_data

,PlayerName,team,opp,Prop,Over_Under,betrivers,draftkings,fanduel,mgm
0,Aaron Judge,NYY,@LAA,Total Bases,Over,(1.5) -121,(1.5) -115,NaN,(1.5) -120
1,Aaron Judge,NYY,@LAA,Total Bases,Under,(1.5) -114,(1.5) -115,NaN,(1.5) -110
2,Aaron Judge,NYY,@LAA,Runs,Over,(0.5) -139,(0.5) -150,NaN,(0.5) -150
3,Aaron Judge,NYY,@LAA,Runs,Under,(0.5) 102,(0.5) 115,NaN,(0.5) 115
4,Abraham Toro,OAK,@TB,Total Bases,Over,(1.5) 130,(1.5) 115,NaN,(1.5) 115
...,...,...,...,...,...,...,...,...,...
1091,Zack Gelof,OAK,@TB,Runs,Under,(0.5) -295,(0.5) -240,NaN,(0.5) -250
1092,Zack Littell,TB,OAK,Strikeouts,Over,(5.5) -137,(5.5) -155,(5.5) -150,(5.5) -155
1093,Zack Littell,TB,OAK,Strikeouts,Under,(5.5) 102,(5.5) 125,(5.5) 118,(5.5) 115
1094,Zack Wheeler,PHI,@SF,Strikeouts,Over,(7.5) 132,(6.5) -155,(6.5) -156,(6.5) -160
1095,Zack Wheeler,PHI,@SF,Strikeouts,Under,(7.5) 115,(6.5) 125,(6.5) 122,(6.5) 120

In [10]:
prizepicks_data['Prop'].unique()

array(['Strikeouts', 'Total Bases', 'Runs'], dtype=object)

In [13]:
prizepicks_data

     Unnamed: 0             Name      Team  Value         Prop
2             2    Shota Imanaga   CHC - P    6.5   Strikeouts
4             4      Ryne Nelson    AZ - P    4.0   Strikeouts
5             5  Kutter Crawford   BOS - P    5.0   Strikeouts
8             8     Kevin Pillar  LAA - OF    0.5  Total Bases
9             9         Luis Gil   NYY - P    7.0   Strikeouts
..          ...              ...       ...    ...          ...
284         284   Daulton Varsho  TOR - OF    0.5         Runs
285         285   Ezequiel Tovar  COL - IF    0.5         Runs
286         286      Kyle Tucker  HOU - OF    0.5         Runs
287         287    Brenton Doyle  COL - OF    0.5         Runs
288         288     Ryan McMahon  COL - IF    0.5         Runs

[100 rows x 5 columns]

In [11]:
# Merging the datasets on player names and props
merged_data = pd.merge(betting_odds_data, prizepicks_data, left_on=['PlayerName', 'Prop'], right_on=['Name', 'Prop'], how='left')

# import ace_tools as tools; tools.display_dataframe_to_user(name="Merged Betting Data", dataframe=merged_data)

# Display the first few rows of the merged data
merged_data

,PlayerName,team,opp,Prop,Over_Under,betrivers,draftkings,fanduel,mgm,Unnamed: 0,Name,Team,Value
0,Aaron Judge,NYY,@LAA,Total Bases,Over,(1.5) -121,(1.5) -115,NaN,(1.5) -120,80.0,Aaron Judge,NYY - OF,1.5
1,Aaron Judge,NYY,@LAA,Total Bases,Under,(1.5) -114,(1.5) -115,NaN,(1.5) -110,80.0,Aaron Judge,NYY - OF,1.5
2,Aaron Judge,NYY,@LAA,Runs,Over,(0.5) -139,(0.5) -150,NaN,(0.5) -150,NaN,NaN,NaN,NaN
3,Aaron Judge,NYY,@LAA,Runs,Under,(0.5) 102,(0.5) 115,NaN,(0.5) 115,NaN,NaN,NaN,NaN
4,Abraham Toro,OAK,@TB,Total Bases,Over,(1.5) 130,(1.5) 115,NaN,(1.5) 115,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1095,Zack Gelof,OAK,@TB,Runs,Under,(0.5) -295,(0.5) -240,NaN,(0.5) -250,NaN,NaN,NaN,NaN
1096,Zack Littell,TB,OAK,Strikeouts,Over,(5.5) -137,(5.5) -155,(5.5) -150,(5.5) -155,NaN,NaN,NaN,NaN
1097,Zack Littell,TB,OAK,Strikeouts,Under,(5.5) 102,(5.5) 125,(5.5) 118,(5.5) 115,NaN,NaN,NaN,NaN
1098,Zack Wheeler,PHI,@SF,Strikeouts,Over,(7.5) 132,(6.5) -155,(6.5) -156,(6.5) -160,NaN,NaN,NaN,NaN
1099,Zack Wheeler,PHI,@SF,Strikeouts,Under,(7.5) 115,(6.5) 125,(6.5) 122,(6.5) 120,NaN,NaN,NaN,NaN

In [17]:
merged_data[merged_data['PlayerName'] == 'Tarik Skubal']

,PlayerName,team,opp,Prop,Over_Under,betrivers,draftkings,fanduel,mgm,Unnamed: 0,Name,Team,Value
968,Tarik Skubal,DET,PIT,Strikeouts,Over,(8.5) 138,(7.5) -120,(7.5) -136,(7.5) -135,20.0,Tarik Skubal,DET - P,7.0
969,Tarik Skubal,DET,PIT,Strikeouts,Under,(8.5) 104,(7.5) -105,(7.5) 106,(7.5) 105,20.0,Tarik Skubal,DET - P,7.0

In [12]:
r = merged_data.drop(['Team', 'Name', 'Unnamed: 0'], axis =1)

In [31]:
r[r['Prop'] =='Earned Runs Allowed']

,PlayerName,team,opp,Prop,Over_Under,draftkings,fanduel,mgm,Value
2,Adam Duvall,ATL,WSH,Earned Runs Allowed,Over,(0.5) 105,NaN,(0.5) 105,NaN
3,Adam Duvall,ATL,WSH,Earned Runs Allowed,Under,(0.5) -140,NaN,(0.5) -140,NaN
6,Adam Frazier,KC,@MIN,Earned Runs Allowed,Over,(0.5) 215,NaN,(0.5) 210,NaN
7,Adam Frazier,KC,@MIN,Earned Runs Allowed,Under,(0.5) -300,NaN,(0.5) -275,NaN
10,Adley Rutschman,BAL,BOS,Earned Runs Allowed,Over,(0.5),(0.5) 220,(0.5),NaN
...,...,...,...,...,...,...,...,...,...
927,Wilyer Abreu,BOS,@BAL,Earned Runs Allowed,Under,(0.5),NaN,(0.5),NaN
932,Yainer Diaz,HOU,@SEA,Earned Runs Allowed,Over,(0.5) 165,NaN,(0.5) 165,NaN
933,Yainer Diaz,HOU,@SEA,Earned Runs Allowed,Under,(0.5) -230,NaN,(0.5) -225,NaN
936,Yordan Alvarez,HOU,@SEA,Earned Runs Allowed,Over,(0.5) -105,NaN,(0.5) -105,NaN
937,Yordan Alvarez,HOU,@SEA,Earned Runs Allowed,Under,(0.5) -125,NaN,(0.5) -120,NaN

In [12]:
r =r.dropna(subset=['Value'])

In [17]:
r = r.where(pd.notnull(r), "None")

In [14]:
r.isnull().sum()

PlayerName    0
team          0
opp           0
Prop          0
Over_Under    0
draftkings    0
fanduel       0
mgm           0
Value         0
dtype: int64

In [19]:
r.to_csv('merged_data.csv')

In [15]:
df = pd.read_csv('merged_data.csv')

In [16]:
df

,Unnamed: 0,PlayerName,team,opp,Prop,Over_Under,draftkings,fanduel,mgm,Value
0,56,Austin Riley,ATL,WSH,Total Bases,Over,(1.5) -115,NaN,(1.5) -115,1.5
1,57,Austin Riley,ATL,WSH,Total Bases,Under,(1.5) -115,NaN,(1.5) -110,1.5
2,64,Blake Snell,SF,PHI,Strikeouts,Over,(6.5) 125,(6.5) 108,(6.5) 120,6.0
3,65,Blake Snell,SF,PHI,Strikeouts,Over,(6.5) 125,(6.5) 108,(6.5) 120,6.0
4,66,Blake Snell,SF,PHI,Strikeouts,Under,(6.5) -155,(6.5) -138,(6.5) -155,6.0
5,67,Blake Snell,SF,PHI,Strikeouts,Under,(6.5) -155,(6.5) -138,(6.5) -155,6.0
6,92,Brendan Rodgers,COL,CLE,Total Bases,Over,(1.5) -120,NaN,(1.5) -115,1.5
7,93,Brendan Rodgers,COL,CLE,Total Bases,Under,(1.5) -110,NaN,(1.5) -110,1.5
8,162,Charlie Blackmon,COL,CLE,Total Bases,Over,(1.5) -110,NaN,(1.5) -120,1.5
9,163,Charlie Blackmon,COL,CLE,Total Bases,Under,(1.5) -120,NaN,(1.5) -110,1.5
10,166,Charlie Morton,ATL,WSH,Strikeouts,Over,(5.5) -160,(5.5) -154,(5.5) -155,6.0
11,167,Charlie Morton,ATL,WSH,Strikeouts,Under,(5.5) 125,(5.5) 120,(5.5) 115,6.0
12,168,Chas McCormick,HOU,@SEA,Total Bases,Over,(0.5) -125,NaN,(0.5) -125,0.5
13,169,Chas McCormick,HOU,@SEA,Total Bases,Under,(0.5) -105,NaN,(0.5) -105,0.5
14,230,David Fry,CLE,@COL,Total Bases,Over,(1.5) -125,NaN,(1.5) -125,1.5
15,231,David Fry,CLE,@COL,Total Bases,Under,(1.5) -105,NaN,(1.5) -105,1.5
16,294,Framber Valdez,HOU,@SEA,Strikeouts,Over,(5.5) -135,(5.5) -160,(5.5) -135,6.0
17,295,Framber Valdez,HOU,@SEA,Strikeouts,Under,(5.5) 110,(5.5) 124,(5.5) 105,6.0
18,414,Jarred Kelenic,ATL,WSH,Total Bases,Over,(0.5) -125,NaN,(0.5) -125,0.5
19,415,Jarred Kelenic,ATL,WSH,Total Bases,Over,(0.5) -125,NaN,(0.5) -125,0.5
20,416,Jarred Kelenic,ATL,WSH,Total Bases,Under,(0.5) -105,NaN,(0.5) -105,0.5
21,417,Jarred Kelenic,ATL,WSH,Total Bases,Under,(0.5) -105,NaN,(0.5) -105,0.5
22,474,Jonatan Clase,SEA,HOU,Total Bases,Over,(0.5) -130,NaN,(0.5) -120,0.5
23,475,Jonatan Clase,SEA,HOU,Total Bases,Under,(0.5) -105,NaN,(0.5) -105,0.5
24,514,Josh Rojas,SEA,HOU,Total Bases,Over,(0.5) -115,NaN,(0.5) -115,0.5
25,515,Josh Rojas,SEA,HOU,Total Bases,Under,(0.5) -115,NaN,(0.5) -115,0.5
26,526,Justin Steele,CHC,@MIL,Strikeouts,Over,(5.5) -160,(5.5) -142,(5.5) -160,6.0
27,527,Justin Steele,CHC,@MIL,Strikeouts,Over,(5.5) -160,(5.5) -142,(5.5) -160,6.0
28,528,Justin Steele,CHC,@MIL,Strikeouts,Under,(5.5) 125,(5.5) 112,(5.5) 120,6.0
29,529,Justin Steele,CHC,@MIL,Strikeouts,Under,(5.5) 125,(5.5) 112,(5.5) 120,6.0
30,558,Kyle Schwarber,PHI,@SF,Total Bases,Over,(0.5) -130,NaN,(0.5) -125,0.5
31,559,Kyle Schwarber,PHI,@SF,Total Bases,Under,(0.5) -105,NaN,(0.5) -105,0.5
32,574,Lance Lynn,STL,@CIN,Strikeouts,Over,(5.5) 110,(5.5) 124,(5.5) 105,5.0
33,575,Lance Lynn,STL,@CIN,Strikeouts,Under,(5.5) -140,(5.5) -158,(5.5) -140,5.0
34,612,Marcell Ozuna,ATL,WSH,Total Bases,Over,(1.5) -125,NaN,(1.5) -120,1.5
35,613,Marcell Ozuna,ATL,WSH,Total Bases,Under,(1.5) -105,NaN,(1.5) -105,1.5
36,648,Michael King,SD,MIA,Strikeouts,Over,(5.5) -140,(5.5) -142,(5.5) -145,6.0
37,649,Michael King,SD,MIA,Strikeouts,Under,(5.5) 110,(5.5) 112,(5.5) 110,6.0
38,650,Miguel Amaya,CHC,@MIL,Total Bases,Over,(0.5) -125,NaN,(0.5) -125,0.5
39,651,Miguel Amaya,CHC,@MIL,Total Bases,Under,(0.5) -105,NaN,(0.5) -105,0.5
40,682,Mitchell Parker,WSH,@ATL,Strikeouts,Over,(4.5) 120,(4.5) 120,(4.5) 120,4.0
41,683,Mitchell Parker,WSH,@ATL,Strikeouts,Under,(4.5) -150,(4.5) -154,(4.5) -155,4.0
42,696,Nick Fortes,MIA,@SD,Total Bases,Over,(0.5) -110,NaN,(0.5) -110,0.5
43,697,Nick Fortes,MIA,@SD,Total Bases,Under,(0.5) -120,NaN,(0.5) -120,0.5
44,752,Ozzie Albies,ATL,WSH,Total Bases,Over,(1.5) -120,NaN,(1.5) -120,1.5
45,753,Ozzie Albies,ATL,WSH,Total Bases,Under,(1.5) -110,NaN,(1.5) -110,1.5
46,788,Robert Gasser,MIL,CHC,Strikeouts,Over,(3.5) -150,(3.5) -142,(3.5) -165,4.0
47,789,Robert Gasser,MIL,CHC,Strikeouts,Under,(3.5) 115,(3.5) 112,(3.5) 125,4.0
48,838,Taijuan Walker,PHI,@SF,Strikeouts,Over,(3.5) -145,(3.5) -156,(3.5) -145,4.0
49,839,Taijuan Walker,PHI,@SF,Strikeouts,Under,(3.5) 115,(3.5) 122,(3.5) 110,4.0
50,860,Trevor Rogers,MIA,@SD,Strikeouts,Over,(3.5) -160,(3.5) -164,(3.5) -160,4.0
51,861,Trevor Rogers,MIA,@SD,Strikeouts,Under,(3.5) 125,(3.5) 128,(3.5) 125,4.0
52,928,Xzavion Curry,CLE,@COL,Strikeouts,Over,(2.5) -170,(2.5) -146,(2.5) -160,3.0
53,929,Xzavion Curry,CLE,@COL,Strikeouts,Under,(2.5) 130,(2.5) 114,(2.5) 125,3.0
54,934,Yordan Alvarez,HOU,@SEA,Total Bases,Over,(1.5) -105,NaN,(1.5) -105,1.5
55,935,Yordan Alvarez,HOU,@SEA,Total Bases,Under,(1.5) -125,NaN,(1.5) -120,1.5